*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-principal;
    font-family: $tipo-letra-principal;
    width: 100%;
    height: 500px;
    

    .btn-toggle {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background-color: #ddd;
    color: #000;
    transition: background 0.3s, color 0.3s;
    }

}


body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;

    
}