.navbar{

    display: flex;
    z-index: 1;

    ul{

        .nav-item{
            display: flex;
            gap: 1rem;
            align-items: center;
            transition: all .5s;
    
            .nav-link {
                    padding: 0.5rem 1.2rem;
                    transition: all .5s;
                
                
                    &:hover{
                        transform: scale(1.1);
                        background-color: $rojo;
                        transform: scale(1.1);
                    }
            }
        }
    }

    .boton{
        background-color: $rojo;
        color: $blanco;
        padding: 0.5rem 1.5rem;
        border-radius: 20px;

        @include mobile{
            display: none;
        }
    }

    .boton-mobile{
       background-color: $rojo;
        color: $blanco;
        padding: 0.5rem 1.5rem;
        border-radius: 20px;
        display: none;

        @include mobile{
          display: inline-block;
        }
    }


}

body.dark-mode {
  .navbar {
    background-color: #1a1a1a; // Fondo oscuro
    color: $blanco;

    .nav-link {
      color: $blanco;

      &:hover {
        background-color: lighten($rojo, 10%); // un rojo más suave en hover
      }
    }

    .boton {
      background-color: $blanco;
      color: $rojo;
    }
  }
}





